
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2">Author</th>
      <th >Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article|%>
      <tr>
        <td><%=article.title%></td>
        <td><%=article.description%></td>
        <td><%=article.user.username%><td>
        <td><a  href="<%= article_path(article) %>"><button type="button" class="btn btn-success btn-sm">Show</button></a></td>
        <td><a  href="<%= edit_article_path(article) %>"><button type="button" class="btn btn-warning btn-sm">Edit</button></a></td>
        <td><%=link_to "Delete", article_path(article), class:"btn btn-danger btn-sm", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"}%><td>
       
      </tr>
    <% end %>

  </tbody>
</table>





